.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Current-word {
  padding: 1%;
}

.Selected-current-word {
  padding: 1%;
  background: black;
  border-radius: 0.2em;
}

.Selected-character {
  text-decoration: underline;
  text-emphasis: emphasis;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Read-word-area {
  height: 5vh;
  border-radius: 0.25em;
  font-size: calc(10px + 2vmin);
  margin-top: 2vh;
  width: 30vw;
}

.refresh-button {
  margin-left: 2vh;
  height: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}